#{extends 'main.html' /} 
#{set title:'Donation Request' /} 
#{set activePage: 'donate' /} 
#{include 'nav.html' /}

<h4>Welcome ${user.firstName}</h4>
<h5>Please give generously</h5>
<form class="ui form" action="/donation/donate" method="POST">
  <div class="control-group">
    <div class="controls">
      <label class="control-label"> Select an amount: </label> 
      <select name="amountDonated">
        <option value="50">$50</option>
        <option value="100">$100</option>
        <option value="1000" selected>$1000</option>
      </select> 
      <label class="radio">
        <input type="radio" name="methodDonated" value="paypal" checked="checked">
        PayPal
      </label>
      <label class="radio">
        <input type="radio" name="methodDonated" value="direct"> 
        Direct
      </label>
    </div>
    <button type="submit" class="ui purple submit button">Donate</button>
  </div>
</form>
<div class="ui segment">
  <div class="ui indicating progress" id="progress">
    <div class="bar">
      <div class="progress"></div>
    </div>
    <div class="label">${progress} target achieved to date</div>
  </div>
</div>
<script>
	$('#progress').progress('increment', '${progress}');
</script>