#{extends 'main.html' /}
#{set title:'Donation Request' /}
#{if (user != null)}
  <nav class="ui inverted orange menu">
    #{if activePage=='donate'}
      <a class="ui active item" href="/donationcontroller/index"><i class="dollar icon"></i>Make Donation</a>
    #{/if} #{else}
      <a class="ui item" href="/donationcontroller/index"><i class="dollar icon"></i>Make Donation</a>
    #{/else}
    #{if activePage=='report'}
      <a class="ui active item" href="/donationcontroller/renderReport"><i class="bar chart icon"></i>Report</a>
    #{/if} #{else}
      <a class="ui item" href="/donation/renderReport"><i class="bar chart icon"></i>Report</a>
    #{/else}
    #{if activePage=='edit'}
      <a class="ui active item" href="/editprofile/index"><i class="edit icon"></i>Edit Profile</a>
    #{/if} #{else}
      <a class="ui item" href="/editprofile/index"><i class="edit icon"></i>Edit Profile</a>
    #{/else}
    #{if activePage=='logout'}
      <a class="ui active item" href="/accounts/logout"><i class="sign out icon"></i>Logout</a>
    #{/if} #{else}
      <a class="ui item" href="/accounts/logout"><i class="sign out icon"></i>Logout</a>
    #{/else}
  </nav>
#{/if}
#{else}
  <nav class="ui inverted orange menu">
    #{if activePage=='home'} 
      <a class="ui active item" href="/index"><i class="home icon"></i>Home</a>
    #{/if} #{else}
      <a class="ui item" href="/index"><i class="home icon"></i>Home</a>
    #{/else}
    #{if activePage=='signup'} 
      <a class="ui active item" href="/signup"><i class="add user icon"></i>Signup</a>
    #{/if} #{else}
      <a class="ui item" href="/signup"><i class="add user icon"></i>Signup</a>
    #{/else}
    #{if activePage=='login'} 
      <a class="ui active item" href="/login"><i class="sign in icon"></i>Login </a>
    #{/if} #{else}
      <a class="ui item" href="/login"><i class="sign in icon"></i>Login</a>
    #{/else}
  </nav>
#{/else}